
body {
    margin-left: 3%; 
    margin-right: 3%;
    background: url(https://images.alphacoders.com/225/225411.jpg) ;
   }
   
   .rightimg  {
    float: right; 
    margin: 7px 0 7px 7px; 
   }
  
   div {
 	 background: rgba(175, 56, 35, 0.6); 
 	 padding: 5px; 
   }
   
   .sign {
    float: right; /* Выравнивание по правому краю */
    border: 1px solid #333; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 0 5px 5px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */ 
   }
   .sign figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
   }